[submodule "components/YOBA"]
	path = components/YOBA
	url = https://github.com/IgorTimofeev/YOBA.git
[submodule "components/YOBANVS"]
	path = components/YOBANVS
	url = https://github.com/IgorTimofeev/YOBANVS.git
